@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ProductionLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Design</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <style>
        .my-container {
            max-width: 1200px;
            margin: auto;
        }

        .image-box img {
            height: 100%;
            width: 100%;
            background-size: cover;
            border-radius: 25px;
        }

        .my-btn {
            background: #fff;
            border: none;
            border-radius: 25px;
            padding: 10px 20px;
            margin-right: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 150px;
            height: 75px;
        }

            .my-btn:hover {
                background: #f0f0f0;
            }

        .stats-section {
            background-color: #000; /* Dark background */
            color: #fff; /* White text */
            padding: 20px 0; /* Some padding */
        }

        .stat {
            text-align: center;
            padding: 20px;
        }

        .card-custom {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            color: white;
        }

            .card-custom img {
                width: 100%;
                height: auto;
                transition: transform 0.5s ease;
            }

            .card-custom:hover img {
                transform: scale(1.1);
            }

            .card-custom .card-body {
                position: absolute;
                bottom: 0;
                background: rgba(0, 0, 0, 0); /* fully transparent */
                width: 100%;
                padding: 20px;
            }

            .card-custom .card-title {
                margin-bottom: 15px;
                font-size: 20px;
            }

            .card-custom .btn {
                background: transparent;
                border: 1px solid white;
                border-radius: 20px;
                background: white;
                color: black;
                text-align: left;
            }

        .service-header {
            margin-top: 30px;
        }

        .accordion {
            border-radius: 20px;
            margin-bottom: 10px;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: 3px solid #f2f2f2;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
            background-color: white;
        }

        .active {
            color: #5b8aff;
            font-weight: bold;
        }

        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .active:after {
            content: "\2212";
        }


        .accordion:after {
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }


        .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }
    </style>
</head>
<body>
    <div style="margin-right:10% ;margin-left:10%">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Secure Your Trust, Protect Your Future!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla nunc vitae quam semper, sit amet fermentum quam lacinia. Vivamus non odio at erat tincidunt fermentum. Sed non augue vel erat tincidunt hendrerit.</p>
                <button style="width:150px;" class="my-btn">
                    İncele
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z" />
                    </svg>
                </button>
                <button class="my-btn" style="background-color:black; color:white;font-weight:600">Gezintiye Başla</button>
            </div>
            <div class="col-md-6">
                <div class="image-box">
                    <img src="~/images/hakkimizda_page_png.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center " style="margin-top: 200px;">
        <h1 class="mb-4">Neler Yapıyoruz</h1>
        <p class="mb-5" style="width: 600px; margin-left: 30%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla nunc vitae quam semper, sit amet fermentum quam lacinia.</p>
        <div class="row" style="margin-left:5%;margin-right:5%">
            <div class="col-md-4 mb-4 text-start">
                <div class="service-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                        <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z" />
                    </svg>
                </div>
                <h3 class="service-header">İnşaat</h3>
                <p class="service-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla nunc vitae quam semper, sit amet fermentum quam lacinia. Vivamus non odio at erat tincidunt fermentum. Sed non augue vel erat
                </p>
            </div>
            <div class="col-md-4 mb-4 text-start">
                <div class="service-icon" ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                        <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z" />
                    </svg>
                </div>
                <h3 class="service-header">Stratejik Planlar</h3>
                <p class="service-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla nunc vitae quam semper, sit amet fermentum quam lacinia. Vivamus non odio at erat tincidunt fermentum. Sed non augue vel erat
                </p>
            </div>
            <div class="col-md-4 mb-4 text-start">
                <div class="service-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                        <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z" />
                    </svg>
                </div>
                <h3 class="service-header">Bölgesel Planlar</h3>
                <p class="service-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla nunc vitae quam semper, sit amet fermentum quam lacinia. Vivamus non odio at erat tincidunt fermentum. Sed non augue vel erat
                </p>
            </div>
            <div class="col-md-4 mb-4 text-start">
                <div class="service-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                        <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z" />
                    </svg>
                </div>
                <h3 class="service-header">Çevre Düzeni </h3>
                <p class="service-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla nunc vitae quam semper, sit amet fermentum quam lacinia. Vivamus non odio at erat tincidunt fermentum. Sed non augue vel erat
                </p>
            </div>
            <div class="col-md-4 mb-4 text-start">
                <div class="service-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                        <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z" />
                    </svg>
                </div>
                <h3 class="service-header">Kent Planları</h3>
                <p class="service-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla nunc vitae quam semper, sit amet fermentum quam lacinia. Vivamus non odio at erat tincidunt fermentum. Sed non augue vel erat
                </p>
            </div>
            <div class="col-md-4 mb-4 text-start">
                <div class="service-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                        <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z" />
                    </svg>
                </div>
                <h3 class="service-header">Turizm Merkez Planları</h3>
                <p class="service-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla nunc vitae quam semper, sit amet fermentum quam lacinia. Vivamus non odio at erat tincidunt fermentum. Sed non augue vel erat
                </p>
            </div>

            <div class="col-md-4 mb-4 text-start">
                <div class="service-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                        <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z" />
                    </svg>
                </div>
                <h3 class="service-header">Turizm Merkez Planları</h3>
                <p class="service-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla nunc vitae quam semper, sit amet fermentum quam lacinia. Vivamus non odio at erat tincidunt fermentum. Sed non augue vel erat
                </p>
            </div>

            <div class="col-md-4 mb-4 text-start">
                <div class="service-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                        <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z" />
                    </svg>
                </div>
                <h3 class="service-header">Turizm Merkez Planları</h3>
                <p class="service-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla nunc vitae quam semper, sit amet fermentum quam lacinia. Vivamus non odio at erat tincidunt fermentum. Sed non augue vel erat
                </p>
            </div>

            <div class="col-md-4 mb-4 text-start">
                <div class="service-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                        <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z" />
                    </svg>
                </div>
                <h3 class="service-header">Koruma Amaçlı İmar Planları</h3>
                <p class="service-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla nunc vitae quam semper, sit amet fermentum quam lacinia. Vivamus non odio at erat tincidunt fermentum. Sed non augue vel erat
                </p>
            </div>

            <div class="col-md-4 mb-4 text-start">
                <div class="service-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                        <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z" />
                    </svg>
                </div>
                <h3 class="service-header">Çevre Düzeni</h3>
                <p class="service-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla nunc vitae quam semper, sit amet fermentum quam lacinia. Vivamus non odio at erat tincidunt fermentum. Sed non augue vel erat
                </p>
            </div>
            <div class="col-md-4 mb-4 text-start">
                <div class="service-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                        <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z" />
                    </svg>
                </div>
                <h3 class="service-header">Kent Planları</h3>
                <p class="service-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla nunc vitae quam semper, sit amet fermentum quam lacinia. Vivamus non odio at erat tincidunt fermentum. Sed non augue vel erat
                </p>
            </div>
            <div class="col-md-4 mb-4 text-start">
                <div class="service-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                        <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z" />
                    </svg>
                </div>
                <h3 class="service-header">Uygulama Planları</h3>
                <p class="service-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla nunc vitae quam semper, sit amet fermentum quam lacinia. Vivamus non odio at erat tincidunt fermentum. Sed non augue vel erat
                </p>
            </div>

        </div>
    </div>
    <div class="container-fluid stats-section">
        <div class="row">
            <div class="col stat">
                <h2>100+</h2>
                <p>Proje Geliştirme</p>
            </div>
            <div class="col stat">
                <h2>250+</h2>
                <p>Tamamlanan Proje</p>
            </div>
            <div class="col stat">
                <h2>300+</h2>
                <p>Müşteri Deneyimi</p>
            </div>
            <div class="col stat">
                <h2>99+</h2>
                <p>Geliştirilen Proje</p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row g-4">
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card-custom">
                    <img src="~/images/Ekran görüntüsü 2024-03-24 222005.png" alt="Building Beyond Boundaries">
                    <div class="card-body">
                        <h5 class="card-title">Building Beyond Boundaries</h5>
                        <a href="#" class="btn w-100" style="display: flex; justify-content: space-between; align-items: center;">
                            İncele
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                </svg>
                            </span>
                        </a>



                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-custom">
                    <img src="~/images/Ekran görüntüsü 2024-03-24 222005.png" alt="Building Beyond Boundaries">
                    <div class="card-body">
                        <h5 class="card-title">Building Beyond Boundaries</h5>
                        <a href="#" class="btn w-100" style="display: flex; justify-content: space-between; align-items: center;">
                            İncele
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-custom">
                    <img src="~/images/Ekran görüntüsü 2024-03-24 222005.png" alt="Building Beyond Boundaries">
                    <div class="card-body">
                        <h5 class="card-title">Building Beyond Boundaries</h5>
                        <a href="#" class="btn w-100" style="display: flex; justify-content: space-between; align-items: center;">
                            İncele
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-custom">
                    <img src="~/images/Ekran görüntüsü 2024-03-24 222005.png" alt="Building Beyond Boundaries">
                    <div class="card-body">
                        <h5 class="card-title">Building Beyond Boundaries</h5>
                        <a href="#" class="btn w-100" style="display: flex; justify-content: space-between; align-items: center;">
                            İncele
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #f7f7f7;">


        <div style=" margin-left:20%;margin-right:20%;">
            <h2 style="text-align:center;">Sıkça Sorulan Sorular</h2>

            <button class="accordion">Section 1</button>
            <div class="panel">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>

            <button class="accordion">Section 2</button>
            <div class="panel">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>

            <button class="accordion">Section 3</button>
            <div class="panel">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
        </div>
        @Html.Partial("Hakkimizda_Footer")

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>

</body>
</html>