<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Custom Solution Layout</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
  .footer {
    background: #152F4F;
    color: white;
  }

  .footer .links ul {
    list-style-type: none;
    padding: 0;
  }

  .footer .links li a {
    color: white;
    transition: color .2s;
    text-decoration: none;
  }

  .footer .about-company i {
    font-size: 25px;
  }

  .footer .about-company a {
    color: white;
    transition: color .2s;
    text-decoration: none;
  }

  .footer .location i {
    font-size: 18px;
  }

  .footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 15px;
    padding-top: 15px;
  }
</style>
</head>
<body>

<div class="mt-5 pt-5 pb-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-2 col-sm-12 about-company">
        <h2>Heading</h2>
        <p class="pr-lg-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis quam tristique convallis </p>
        <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Product</h4>
        <ul class="m-0 p-0">
          <li><a href="#">Anasayfa</a></li>
          <li><a href="#">Hakkımızda</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contact</a></li>
          
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 links">
        <h4 class="mt-lg-0 mt-sm-3">CMS</h4>
        <ul class="m-0 p-0">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Blog Single</a></li>
        </ul>
      </div>
       <div class="col-lg-3 col-md-3 col-sm-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Utility</h4>
        <ul class="m-0 p-0">
          <li><a href="#">404 Error</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
