
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MainCategory

<h1>Add New Main Category</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="name">Name:</label>
        <input asp-for="name" class="form-control" />
    </div>
     
    <button style="margin-top:25px;" type="submit" class="btn btn-primary">Add Main Category</button>
</form>


